{% set form = active_form_begin({
    'id' : 'login-form',
    'options' : {'class' : 'form-horizontal'},
    'fieldConfig' : {
        'inputOptions' : {'class' : 'col-sm-4 form-control'},
        'horizontalCssClasses' : {'error' : 'col-sm-6 col-form-label'},
        'template' : "{label}\n{input}\n{error}\n{hint}",
    }
}) %}
    {{ form.field(customer, 'additional_attributes[social_id]').hiddenInput().label(false) | raw }}
    {{ form.field(customer, 'partner_id').hiddenInput().label(false) | raw }}
    {{ form.field(customer, 'location_id').hiddenInput().label(false) | raw }}
    {{ form.field(customer, 'login').textInput() | raw }}
    {{ form.field(customer, 'name').textInput() | raw }}
    {{ form.field(customer, 'email').input('email') | raw }}
    {{ form.field(customer, 'street_1').textInput() | raw }}
    {{ form.field(customer, 'password').passwordInput() | raw }}
    {{ form.field(customer, 'password_repeat').passwordInput() | raw }}
    {{ form.field(customerInfo, 'birthday').input('date') | raw }}

<div class="form-group">
    <input type="submit" value="Login" class="btn btn-primary" />
</div>
{{ active_form_end() }}