<div class="site-index">
    <div class="row" style="display: flex; justify-content: center">
        <a href="{{ authUrl }}"><img class="img"
                                     src="https://scontent.flwo4-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;_nc_sid=ad8a9d&amp;_nc_ohc=KlY-LBP6lEoAX_NN4c8&amp;_nc_ht=scontent.flwo4-1.fna&amp;oh=be142f24c9ace91a0f797dc59d16c48d&amp;oe=5E8E51EA"
                                     width="400" alt=""></a>
    </div>
</div>
