<div class="site-index">
    <div class="row">
        <div class="col-lg-12">
            <h2>Last 5 added customers</h2>
            <table class="table table-striped">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Login</strong></td>
                    <td><strong>Full name</strong></td>
                </tr>
                {% for customer in model.getFiveLastAdded() %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.login }}</td>
                        <td>{{ customer.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
